@keyframes myaniupto {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.group:hover .utpani1 {
  animation: myaniupto 0.5s ease-out forwards;
  animation-delay: 0.2s;
}

.group:hover .utpani2 {
  animation: myaniupto 0.5s ease-out forwards;
  animation-delay: 0.4s;
}
